// ### Primary

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

// ### Neutral

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

$inlinePadding: 1.5rem;
@font-face {
	font-family: public sans;
	src: url(./fonts/PublicSans-VariableFont_wght.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 200ms ease-in-out;
	font-family: public sans;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

// gen styling

img {
	max-width: 100%;
}

h1 {
	font-size: clamp(2.5rem, 5vw, 5rem);
	font-weight: 400;
	color: $DarkBlue;
}

h2 {
	font-size: clamp(2.5rem, 5vw, 3rem);
	color: $DarkBlue;
	font-weight: 400;
	margin-bottom: 1.5rem;
	margin-inline: auto;
	width: fit-content;
	padding-inline: 1.5rem;
}

h3 {
	font-weight: 400;
	color: $DarkBlue;
}

p {
	// font-size: clamp(1rem, 5vw, 1.5rem);
	line-height: 1.5;
	color: $GrayishBlue;
	font-weight: 400;
}
.cta-btn {
	text-decoration: none;
	color: $White;
	border-radius: 100vmax;
	background: linear-gradient(to right, $LimeGreen, $BrightCyan);
	padding: 0.7rem 2.2rem;
	margin: 1rem 0;
	font-weight: 400;
	white-space: nowrap;

	&:hover {
		filter: brightness(110%);
	}
}

.grid-four-columns-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	gap: 2rem;
	margin-top: 4rem;
	height: fit-content;

	.grid-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
	}
}
// header

header {
	position: relative;
	background-color: $White;
	position: sticky;
	top: 0;
	z-index: 100;
	padding: 0 1.5rem;

	.desktop-nav {
		display: none;
	}

	.cta-btn {
		display: none;
	}

	.toggle-menu-btn {
		padding: 2rem 0;
	}

	.active {
		content: url(./images/icon-close.svg);
	}

	.header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// position: relative;

		.dark-overlay {
			position: absolute;
			top: 82px;
			right: 0;
			left: 0;
			height: 100vh;
			background: linear-gradient(
				hsla(240, 20%, 2%, 0.678),
				rgba(255, 255, 255, 0.5)
			);
			display: none;
		}

		.open-menu {
			display: block;
		}

		nav {
			background-color: $White;
			margin: 1.5rem;
			display: flex;
			align-items: center;
			flex-direction: column;
			border-radius: 0.2rem;

			ul {
				list-style: none;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1rem;
				padding: 1.5rem;

				a {
					text-decoration: none;
					color: $DarkBlue;
					font-size: 1.1rem;
				}
			}
		}
	}
}

// hero content

.hero-content-container {
	display: grid;
	grid-template-columns: 1fr;
	padding-bottom: 4rem;

	.intro-container {
		background-image: url(./images/bg-intro-mobile.svg);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	.hero-text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 1rem;
		padding-inline: $inlinePadding;
	}
}

// why choose us

.why-choose-us-section {
	padding: 4rem 1.5rem;
	text-align: center;
	background-color: $LightGrayishBlue;

	h1 {
		padding: 1rem;
	}
}

.blog-section {
	padding: 4rem 1.5rem;
	background-color: $VeryLightGray;

	.section-header {
		text-align: center;
	}

	.article-card {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		background-color: $White;
		border-radius: 0.4rem;
		box-shadow: 1px 1px 5px $LightGrayishBlue;
		margin-bottom: 2rem;
		gap: 0;

		.article-image-container {
			height: 50%;
			width: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.article-text-container {
			display: flex;
			flex-direction: column;
			padding: 2rem;
			gap: 0.7rem;
			height: 50%;

			h5 {
				font-size: 0.7rem;
				color: $GrayishBlue;
			}

			h3 {
				font-size: clamp(1rem, 2vw, 1rem);
				color: $DarkBlue;

				&:hover {
					color: $LimeGreen;
				}
			}
		}
	}
}

//  footer

footer {
	background-color: $DarkBlue;
	padding: 2.5rem 1.5rem;

	.footer-flex-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		.logo-footer-platforms {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			gap: 1.5rem;

			.platforms {
				display: flex;
				align-items: center;
				gap: 1rem;

				.svg-fill:hover {
					fill: $LimeGreen;
					color: white;
				}
			}
		}

		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0;
			list-style: none;
			gap: 1rem;

			a {
				text-decoration: none;
				color: $White;

				&:hover {
					color: $LimeGreen;
				}
			}
		}

		.copyright {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

@media only screen and (min-width: 50em) {
	p {
		line-height: 1.2;
	}

	h2 {
		margin: 0;
		padding: 1rem 0;
	}

	.cta-btn {
		padding: 1rem 2.5rem;
	}
	header {
		padding: 0 5rem;
		.toggle-menu-btn {
			display: none;
		}

		.desktop-nav {
			display: block;

			ul {
				display: flex;
				flex-direction: row;
				list-style-type: none;
				gap: 2rem;

				a {
					text-decoration: none;
					display: inline-block;
					color: $GrayishBlue;
					padding: 1.5rem 0;

					&:hover {
						border-bottom: 2px solid $LimeGreen;
					}
				}
			}
		}

		.cta-btn {
			display: block;
			margin: 1rem 0;
		}
	}

	.hero-content-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0;

		.intro-container {
			order: 1;
			background: url(./images/bg-intro-desktop.svg);
			background-size: 150%;
			// background-position-y: -10px;
			background-repeat: no-repeat;

			position: relative;

			img {
				// position: absolute;
				top: -8rem;
				right: -11rem;
			}
		}

		.hero-text-container {
			align-items: flex-start;
			text-align: left;
			padding: 8rem 4.5rem;
		}
	}

	.why-choose-us-section {
		text-align: left;
		padding: 8rem 5rem;

		p {
			max-width: 50rem;
		}

		.grid-four-columns-container {
			gap: 2rem;
			.grid-items {
				display: flex;
				align-items: flex-start;
			}
		}
	}

	.blog-section {
		padding: 8rem 5rem;

		.article-card {
			.article-text-container {
				gap: 0.3rem;
				h5 {
					font-size: 0.5rem;
				}
				h3 {
					font-size: 0.9rem;
				}
				p {
					font-size: 0.9rem;
				}
			}
		}
	}

	footer {
		padding: 4rem 5rem;
		.footer-flex-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.logo-footer-platforms {
				// gap: 3rem;
				align-self: stretch;
				justify-content: space-around;
			}

			ul {
				column-count: 2;
				column-width: 10rem;
				display: block;

				a {
					margin: 0.7rem;
					display: inline-block;
					font-weight: 400;
				}
			}

			.copyright {
				align-self: stretch;
				align-items: flex-end;
				justify-content: space-between;
				gap: 1rem;
			}
		}
	}
}

@media only screen and (min-width: 1000px) {
	.hero-content-container {
		.intro-container {
			background: url(./images/bg-intro-desktop.svg);
			background-size: 150%;
			background-position-y: -210px;
			background-repeat: no-repeat;

			position: relative;

			img {
				position: absolute;
				top: -8rem;
				right: -11rem;
			}
		}
	}
}
